:root{
    --primary-color : rgb(147 106 87);
    --primary-color-hover: rgb(96, 68, 56);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: inherit;
}

body{
    height: 100vh;
    font-family: 'Poppins',sans-serif;
}

main{
    min-height: 100vh;  
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;  
    padding: 20px; 
    background-image: url(Images/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-size: 55px;
    font-weight: 600;
}


.register-container{
    background-color: rgba(255, 255, 255, 0.574);
    padding:40px;
    border-radius:40px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.104);
    display:flex;
    flex-direction: column;
    gap:30px;
    backdrop-filter: blur(5px);
}

.register-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right-side{
    font-size: 13px;
}

#signin{
    color: var(--primary-color);
    cursor: pointer;
}

.form{
    font-size: 16px;
}

form {
    flex-direction: column;
    display: flex;
    gap:40px;
}

.form-row{
    display: flex;
    gap:15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

input {
    padding: 16px 20px;
    border-radius: 9px;
    border: 1px solid rgb(192, 192, 192);
}

button{
    padding: 16px 20px;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: white;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: ease 0.5s;
}

button:hover{
     background-color: color-mix(in srgb, var(--primary-color) 80%, black);
}

label {
    font-weight: 300;
    font-size: 14px;
}

input:focus{
    border: 1px solid var(--primary-color);
    outline: none; 
    box-shadow: 0 0 5px var(--primary-color);
}

input.error{
    border: 1px solid red;
    box-shadow: 0 0 5px red;
}

input:not(:focus):invalid:not(:placeholder-shown) {
        border: 1px solid red;
    box-shadow: 0 0 5px red;
}


footer{
    position: absolute;
    bottom: 5px;
    display: flex;
    align-content: center;
    gap: 10px;
    color: rgb(255, 255, 255);
    font-weight: 300;
}

footer img{
    width: 24px;
}